@using Microsoft.AspNetCore.Components.Web
@namespace PterodactylPavlovServerController.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="PterodactylPavlovServerController.styles.css" rel="stylesheet" />
    <title>@ViewData["title"]</title>

    <meta property="og:title" content="@ViewData["title"]">
    <meta property="og:description" content="@ViewData["ogdescription"]">
    <meta property="og:image" content="https://bloodisgood.net/wp-content/uploads/2022/10/image_2022-10-31_114051512.png">
    <meta property="og:type" content="website">
</head>
<body style="height: 100%">
    @RenderBody()

    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("scripts")
</body>
</html>