
<div class="modal fade" id="@Id" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ConfirmationTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        @onclick="() => OnConfirmationChange(false)">
                </button>
            </div>
            <div class="modal-body">
                @ConfirmationMessage
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        @onclick="@(() => OnConfirmationChange(true, "Cheats / Exploits"))">
                    Cheats / Exploits
                </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        @onclick="@(() => OnConfirmationChange(true, "Toxic"))">
                    Toxic
                </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        @onclick="@(() => OnConfirmationChange(true, "Griefer"))">
                    Griefer
                </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        @onclick="@(() => OnConfirmationChange(true, "No reason"))">
                    No reason
                </button>
                <br/>
                <input type="text" class="form-control mt-3" @bind-value="@customReason" placeholder="Custom ban reason" />
                <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal"
                        @onclick="@(() => OnConfirmationChange(true, customReason))">
                    Ban with custom reason
                </button>
                <br />
                <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal"
                        @onclick="() => OnConfirmationChange(false)">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
