@using PavlovVR_Rcon.Models.Pavlov;
@using PterodactylPavlovServerController.Models;
@using PterodactylPavlovServerController.Pages.Player
@using PterodactylPavlovServerController.Services;
<div class="tab-pane container active px-0" id="players">
    @if (ServerInfo.Teams)
    {
        List<ulong> blueTeam = new();
        List<ulong> redTeam = new();

        if (Connection.PlayerDetails is IReadOnlyDictionary<ulong, PlayerDetail> playersDetails)
        {
            blueTeam.AddRange(playersDetails.Where(kvp => kvp.Value.TeamId == 0).Select(kvp => kvp.Key));
            redTeam.AddRange(playersDetails.Where(kvp => kvp.Value.TeamId == 1).Select(kvp => kvp.Key));
        }

        <div class="row">
            <div class="col rounded h2 p-3 me-2" style="background-color: lightskyblue; color: #222;">
                Blue Team
                @if (ServerInfo.Team0Score != null)
                {
                    <span> (@ServerInfo.Team0Score wins)</span>
                }
                <span> (@blueTeam.Count players)</span>
            </div>
            <div class="col rounded h2 p-3 ms-2" style="background-color: tomato; color: #222;">
                Red Team
                @if (ServerInfo.Team1Score != null)
                {
                    <span> (@ServerInfo.Team1Score wins)</span>
                }
                <span> (@redTeam.Count players)</span>
            </div>
        </div>

        <div class="row">
            <div class="col ps-0">
                <div class="container">

                    @foreach (ulong playerId in blueTeam)
                    {
                        <div class="row">
                            <div class="col px-0">

                                <PlayerCard @key="playerId" PlayerId="@playerId" ServerId="@Connection.ServerId" />

                            </div>
                        </div>
                    }

                </div>
            </div>

            <div class="col pe-0">
                <div class="container">

                    @foreach (ulong playerId in redTeam)
                    {
                        <div class="row">
                            <div class="col px-0">

                                <PlayerCard PlayerId="@playerId" ServerId="@Connection.ServerId" />

                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    }
    else if (Connection.PlayerDetails is IReadOnlyDictionary<ulong, PlayerDetail> playersDetails)
    {
        @foreach (ulong playerId in playersDetails.Keys)
        {
            <div class="row">
                <div class="col px-0">

                    <PlayerCard PlayerId="@playerId" ServerId="@Connection.ServerId" />

                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    [EditorRequired]
    public PavlovRconConnection Connection { get; set; }

    [Parameter]
    [EditorRequired]
    public ServerInfo ServerInfo { get; set; }
}
